#here {
    color:blue;     /* 글의 색상 */
    font-size: 25px;  /* 글의 크기 */
    font-weight: 500; /* 글의 두께를 지정*/
    font-family: '궁서체', '굴림체'; /* 글꼴 지정 */
}

a {
    text-decoration: none;
    color: blue;
}

table {
    border-collapse: inherit;
    width: 400px;
    padding: 12px;
}

th, td{
    border: 1px solid black;
    padding: 15px;
}